[Unit]
Description=Check Temperature

[Service]
Type=simple
ExecStart=/usr/local/bin/checktemp
TimeoutSec=infinity
RuntimeMaxSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
