[Unit]
Description=Windoo

[Service]
Type=simple
ExecStart=/usr/bin/windoopi
TimeoutSec=infinity
RuntimeMaxSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
