[Unit]
Description=Windoo

[Service]
Type=simple
ExecStart=/usr/bin/windoopi
TimeoutSec=infinity
RuntimeMaxSec=infinity
Restart=always
StandardOutput=tty
TTYPath=/home/alarm/out
FailureAction=systemctl restart windoo
RestartSec=3

[Install]
WantedBy=multi-user.target
